vcf-breadcrumb {
    --vcf-breadcrumb-separator-font-family: 'lumo-icons';
    --vcf-breadcrumb-separator-symbol: var(--lumo-icons-angle-right);
    --vcf-breadcrumb-separator-color: var(--lumo-contrast-40pct);
    --vcf-breadcrumb-separator-size: var(--lumo-font-size-s);
    --vcf-breadcrumb-separator-margin: 0;
    --vcf-breadcrumb-separator-padding: 0 var(--lumo-space-xs);
    --vcf-breadcrumb-mobile-back-symbol: var(--lumo-icons-angle-left);
    --vcf-breadcrumb-link-focus-ring-color: var(--vaadin-focus-ring-color, var(--lumo-primary-color-50pct));

    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
}

vcf-breadcrumb a[slot="link-slot"]:not([href]) {
    /* Lumo uses disabled color for anchors without href, use base text color instead */
    color: var(--lumo-body-text-color);
}
